
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #f0f2f5;
  background-image: url('./images/bg.png');
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-left {
  flex-grow: 1;
  height: 100vh;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-right {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-right-container {
  width: 100%;
  max-width: 500px; /* Adjust the max width for your container */
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  margin-bottom: 30px;
}

.login-logo img {
  width: 150px;
}

.login-center h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.login-center p {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 40px;
}

form input[type='email'],
form input[type='password'],
form input[type='text'] {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.pass-input-div {
  position: relative;
}

.pass-input-div svg {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 16px;
  cursor: pointer;
  outline: none;
}

form button[type='button'] {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.login-center-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.remember-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.remember-div label {
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgot-pass-link {
  text-decoration: none;
  font-size: 1.3rem;
}

.forgot-pass-link:hover {
  text-decoration: underline;
}

.login-center-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  display: block;
    width: 200px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #45A049;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-center-buttons button:nth-child(1) {

  color: white;
  font-size: 1.6rem;
  display: block;
    
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #45A049;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-center-buttons button:nth-child(1):hover {
  background-color: #45A049;

}

.login-center-buttons button:nth-child(2) {
  display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #45A049;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-center-buttons button:nth-child(2) img {
  background-color: #45A049;
  color: white;
  font-size: 1.6rem;
  display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    width: 50px;
    /* Adjust size as needed */
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
    /* Center the image and add some margin */
}

.login-center-buttons button:nth-child(2):hover {
  background-color: #45A049;

}

.login-bottom-p {
  font-size: 1.5rem;
  margin-top: 20px;
}

.login-bottom-p a {
  text-decoration: none;
  font-weight: 600;
}

.login-bottom-p a:hover {
  text-decoration: underline;
  display: block;
 
}
