body {
  background-image: url('./images/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  background: rgba(255, 255,255); 
  padding: 20px;
  padding-top: 40px; 
  border-radius: 12px;
  width: 100%;
  max-width: 500px; 
  box-sizing: border-box; 
  overflow: hidden; 
}

.signup-logo {
  max-width: 50%; /* Adjusted max-width for logo */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Added margin to the bottom */
  display: block; /* Ensure logo is a block element */
}

.signup-form {
  width: 100%; /* Full width for better fit */
}

.form-group {
  margin-bottom: 15px; /* Space between form fields */
}

.form-group label {
  display: block;
  margin-bottom: 8px; /* Space between label and input */
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="tel"] {
  width: 100%;
  padding: 10px; /* Slightly decreased padding for a better fit */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  margin-right: 10px; /* Adjusted space for checkbox */
}

.signup-button {
  width: 100%;
  padding: 10px; /* Slightly decreased padding for a better fit */
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #45a049;
}
